@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

* {
	box-sizing: border-box;
}

html {
	height: 100%;
	width: 100%;
}

body,
#root {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0;
	margin: 0;
}

body {
	min-height: 100%;
}

#root {
	overflow-y: auto;
	flex-grow: 1;
	background-color: #f6f9fa;
	max-height: 100%;
}
