# Dependencies
**/node_modules

# Build
**/.turbo
**/dist
**/tsconfig.tsbuildinfo
**/tsconfig.*.tsbuildinfo

# Vitest
**/__screenshots__

# Misc
**/.DS_Store
**/*.pem
**/.env
**/*.env

# Playwright
**/test-results/
**/playwright-report/
**/blob-report/
**/playwright/.cache/
**/playwright/.auth/
